input{outline: none; border: none;}
/*게시글 말머리*/
.chat{border: solid #F25774 1px; color: #F25774; padding: 3px 8px; border-radius: 10px; font-size: 13px; font-family: 'SBAggroM';} /*잡담*/
.popularity{background-color: #FFD74B; color: #fff; padding: 3px 8px; border-radius: 10px; font-size: 13px;} /*인기*/
.recommendation{background-color: #F25774; color: #fff; padding: 3px 8px; border-radius: 10px; font-size: 13px;} /*추천*/

section{width: 55vw;}
img[alt="프로필사진"]{width: 45px; height: 40px; object-fit: cover; border-radius: 50%; vertical-align: middle;}
img[alt="좋아"]{width: 1vw; vertical-align: middle;}

/*kategorie*/
.kategorie{width: 25%; margin: 40px auto; position: relative;}
.kategorie>ul{display: flex; justify-content: space-between;}
.kategorie>ul>li{font-size: 20px; text-align: center;}

.kategorie>div:nth-child(2){width: 36%; height: 4px; margin-top: 15px; background-color: #f25774; }
.kategorie>div:nth-child(3){width: 100%; height: 4px; background-color: #d9d9d9; position: absolute; bottom: 0; z-index: -2;}