/*보기 정렬 태그, 글쓰기 버튼*/
section>div:nth-of-type(2){display: flex; justify-content: space-between; align-items: center;}
section>div:nth-of-type(2)>a{font-family: 'SBAggroM'; font-size: 26px;}
    /*보기 태그 ex)인기순*/
section>div:nth-of-type(2)>a>span{font-family: 'SBAggroM'; font-size: 26px; color: #F25774;}
    /*글쓰기 버튼*/
section>div:nth-of-type(2)>button{border: none; cursor: pointer; background-color: #F25774; border-radius: 18px; padding: 10px 20px; font-size: 18px; color: #fff;}
section>div:nth-of-type(2)>button:hover{border: solid #F25774 1px; background-color: #fff; padding: 9px 19px; color: #F25774;}

/*게시글 목록*/
.board>div{padding: 20px 0px; border-bottom: solid #909090 1px;}
.board>div:last-of-type{ border-bottom: none;} /*마지막 게시글 board bottm 없이*/
.board>div>div:nth-of-type(1){display: flex; justify-content: space-between; align-items: center;}
.board>div>div:nth-of-type(1)>div>p>a{font-family: 'SBAggroM'; font-size: 22px;} /*게시글 제목*/
.board>div>div:nth-of-type(1)>div>div>a{display: inline-block; height: 32px; overflow: hidden;  word-break:break-all; color: #909090; margin-right: 5%;} /*게시글 미리보기 텍스트*/
.board>div>div:nth-of-type(1)>div>p{margin-bottom: 20px;} /*게시글 제목과 미리보기 텍스트 간격*/
img[alt="미리보기"]{width: 125px; height: 125px; object-fit: cover; border-radius: 10px;} /*게시글 이미지 미리보기*/
    /*작성자 정보*/
.board>div>div:nth-of-type(2)>img{vertical-align: middle;} /*유저 이미지*/
.board>div>div:nth-of-type(2)>a{margin: 0px 7px; color: #909090;} /*작성자 정보*/

/*검색 창*/
#beautysSearch>#search{margin: 40px auto 30px;}
#search{width: 60%; height: 3.5vw; padding: 0 3vw; margin: 80px auto; border-radius: 80px; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25); display: flex; justify-content: space-between;} /* 검색 박스 */
#search>input{border: unset; outline: unset; width: 95%; font-size: 18px;} /* 입력칸 */
#search>button{background: none; border: unset;} /* 버튼스타일 */
#search>button>img{width: 2vw;} /* 돋보기 */

img[alt="펼치기"]{width: 1vw;}