.QnA>div{padding: 10px; border-bottom: solid #909090 1px;}
.QnA>div:first-of-type>a{display: flex; justify-content: space-between; align-items: center;}
.QnA>div:first-of-type>a>div{display: inline; padding: 10px;}
    /*Q&A*/
.QnA>div:first-of-type>a>div>span:nth-of-type(1){font-size: 22px; color: #F25774;}
.QnA>div:first-of-type>a>div>span:nth-of-type(2){font-size: 15px; color: #909090;}
.QnA>div:first-of-type>a>button{width: 90px; height: 34px; font-size: 0.8vw; border: solid #909090 1px; border-radius: 10px; color: #909090; background-color: #fff; cursor: pointer;} /*문의하기 버튼*/
    /*Q&A list*/
.answerList>div{padding: 40px 0px; border-bottom: solid #909090 1px;}
.answerList>div:last-of-type{margin-bottom: 40px;}
.answerList>div>div:nth-of-type(1){display: flex; justify-content: space-between;}
.answerList>div>div:nth-of-type(1)>div>a{margin-left: 20px;}
.answerList div>div>dl{display: flex; font-size: 12px;}
.answerList div>div>dl>dd{margin-left: 20px;}
    /*읽기*/
.answerList>div>div:nth-of-type(1)~div{display: flex; margin: 30px 0px 0px 5.3vw; padding: 20px 0px 0px 0px; width: 91%;}
.answerList>div>div:nth-of-type(1)~div>div{margin-right: 30px;}
.answerList>div>div:nth-of-type(1)~div>pre{width: 68%;} /*문의, 답변 너비*/
.answerList>div>div:nth-of-type(2){border-top: solid #909090 1px;}
    /*문의등록, 닫기*/
.answer>div:nth-of-type(4){justify-content: flex-end;}
.answer>div:nth-of-type(4)>a{margin-right: 10px;}
/*질문, 답변 작성*/
.answer textarea{width: 100%; height: 100%; border: none; resize: none; outline: none;}
.answer>div:nth-of-type(3)>div:nth-of-type(2){width: 66%; height: 8.5vw; padding: 1%; border: solid #909090 1px; border-radius: 10px;}
    /*질문*/
#question>div:nth-of-type(1){justify-content:flex-start;}
#question>div:nth-of-type(1)>div:nth-of-type(2){width: 60.8%; padding: 5px; margin-left: 6.6%; border: solid #909090 1px; border-radius: 10px; vertical-align: middle;}
#question>div:nth-of-type(1)>div:nth-of-type(2)>input[type=text]{width: 98%; padding: 5px;}
#question>div:nth-of-type(1)>div:nth-of-type(1)>span{margin-left: 5.3vw;}
#question>div:nth-of-type(2)>div:nth-of-type(2){width: 66%; height: 8.5vw; padding: 1%; border: solid #909090 1px; border-radius: 10px;}
        /*문의등록, 닫기*/
#question>div:nth-of-type(3){justify-content: flex-end;}
.answer>div:nth-of-type(3)>a{margin-right: 10px;}
    /*답변완료 미완료 style*/
.completion{color: #fff; background-color: #F25774; padding: 5px 10px; border-radius: 10px; font-size: 11px;}
.notCompleted{margin-left: 4vw;}