/*현재 페이지*/
.layout nav>ul>li:nth-last-of-type(2){color: #F25774;}

/*목록 이름*/
.management_wrap{border: solid #909090 1px; border-bottom: none; margin-bottom: 40px;}
.management_wrap>p{padding: 10px; font-size: 18px; border-bottom: solid #909090 1px;}
.management_wrap>div:nth-of-type(1){padding: 10px; display: flex; justify-content: space-between; align-items: center; text-align: center; border-bottom: solid #909090 1px;}
    /*알림 뱃지 style*/
.notification{padding: 0.1rem 0.85rem; font-size: 10px; color: #fff; vertical-align: middle; background-color: #F25774; border-radius: 1rem;}
    /*count style*/
.count{color: #F25774; font-weight: 700;}
    /*select style*/
select{border: solid #909090 1px; padding: 0.15rem; outline: none;}
.management_wrap select{margin: 0px 10px;}

/*목록*/
.subject_list{display: table; width: 100%;}
.subject_list>div{display: table-row; text-align: center; font-size: 14px;}
.subject_list>div:first-of-type{background: #F4F4F4;}
.subject_list>div>div{display: table-cell; max-width: 300px; padding: 10px; vertical-align: middle; word-break:normal; border-right:solid #909090 1px; ; border-bottom: solid #909090 1px;}
.subject_list>div>div:last-of-type{border-right: none;}

/*button style*/
[type=button]{width: 100px; height: 25px; border: solid #909090 1px; cursor: pointer;}

/*checkbox style*/
[type=checkbox]{accent-color: #F25774; vertical-align: middle;}

/*송장번호 입력란 style*/
[type=text]{width: 100px; height: 25px; border: solid #909090 1px; outline: none; text-align: center;}

/*delivery_completed style*/
.delivery_completed>div{color: #AEAEAE;}

/*completion_list style*/
#completion_list>p>span{font-size: 12px; color: #FF4949;}