footer{border-top: solid #909090 1px; padding: 50px; position: relative; margin-top: 40px;}
footer>div{display: flex; position: absolute; left: 240px; top: 20px; }
footer span{font-family: 'SBAggroB'; font-size: 20px; color: #F25774;}
footer>div>div{margin-left: 20px; min-width:fit-content}
footer>div a{font-size: 12px; color: #404040;}