 /*게시글 제목*/
.boardContet>div{padding: 20px 0px; border-bottom: solid #909090 1px;}
.boardContet>div>div:nth-of-type(1){display: flex; justify-content: space-between; align-items: center;}
.boardContet>div>div:nth-of-type(1)>div>p{font-family: 'SBAggroM'; font-size: 22px;}
    /*작성자 정보*/
.boardContet>div>div:nth-of-type(2){margin-top: 20px;}
    /*게시글 본문*/
.boardContent{margin: 0 auto; width: 100%;}
.boardContent>pre{text-align: center;  overflow: hidden; overflow-wrap: break-word; white-space: break-spaces;}
.boardContent>pre>img{width: 100%;}

/*댓글*/
.CommentArea>div:nth-of-type(1){display: flex; justify-content: space-between; margin: 15px 0px; align-items: center;}
.CommentArea>div:nth-of-type(1) button{border: solid #F25774 2px; border-radius: 15px; background-color: #fff; color: #F25774; padding: 10px 18px; font-size: 16px; font-weight: bold; cursor: pointer;}
.CommentArea>p{margin-top: 25px;}
.CommentArea>p span{color: #F25774; font-weight: bold;}
    /*댓글 본문*/
.boardComment{display: flex; margin: 30px 0px; align-items: center;}
.boardComment>div{width: 100%;}
.boardComment>div>p{margin-left: 1%;}
.boardComment>div>p:nth-of-type(1)>span:nth-of-type(1){font-weight: bold;}
.boardComment>div>p:nth-of-type(2){width: 99%; display: flex; justify-content: space-between;}